# IDE-specific files (IntelliJ IDEA)
.idea/
*.iml
*.ipr
*.iws

# Logs
logs/
*.log

# Target directory
target/

# Maven specific files
poms/
dependency-reduced-pom.xml
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# Temporary files
*.class
*.jar
*.war
*.ear
*.db
*.sql
*.pid
*.gz
*.log

# Bytecode or compiled output
*.class
*.out

# OS-related files
.DS_Store
Thumbs.db

# Application properties (optional security)
application.properties
application.yml

# Linux
*.swp
*.swo

# IntelliJ-Linux specific caches
out/
